.root {
    -fx-background-color: #454545;
    -fx-min-width: 400px;
    -fx-min-height: 200px;
    -fx-pref-width: 400px;
    -fx-pref-height: 200px;
}

.label {
    -fx-text-fill: white;
}
.check-box {
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.check-box .box {
    -fx-background-color: #666666;
    -fx-border-color: transparent;
}

.check-box:selected .mark {
    -fx-background-color: #4aea14;
}

.check-box:selected .box {
    -fx-background-color: #666666;
}

.progress-indicator:indeterminate {
    -fx-progress-color: #4aea14;
}

.progress-indicator:indeterminate .spinner {
    -fx-background-color: transparent;
}

.tab-pane > .tab-header-area > *.tab-header-background {
    -fx-background-color: #333333;
}

.tab {
    -fx-background-color: #333333;
}

.tab:selected {
    -fx-background-color: #444444;
    -fx-border-color: #444444;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab-label {
    -fx-text-fill: #BBBBBB;
}

.list-view {
    -fx-background-color: transparent;
}

.list-view .scroll-bar {
    -fx-background-color: #3B3B3B;
    -fx-pref-width: 12;
    -fx-pref-height: 12;
    -fx-padding: 2;
}

.list-view .scroll-bar > .thumb {
    -fx-background-color: #777777;
}

.list-view .scroll-bar > .decrement-button,
.list-view .scroll-bar > .increment-button {
    -fx-background-color: transparent;
}

.list-view .scroll-bar > .decrement-button > .decrement-arrow,
.list-view .scroll-bar > .increment-button > .increment-arrow {
    -fx-background-color: gray;
}

.list-cell {
    -fx-background-color: transparent;
}

.spinner {
    -fx-background-color: #666666;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-background-color: #333333;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #999999;
}

.spinner .text-field:readonly {
    -fx-text-alignment: center;
    -fx-text-fill: #4aea14;
    -fx-background-color: #666666;
}